
/* some normalizing first...
 * CSS Reset + Normalize
 * Author: Kim Maida
 * Author URI: <http://kim-maida.com>
 * Source: <https://github.com/kmaida
 * License: GNU Public License
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, select, button, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; border-radius: 0; font-weight: inherit; font-style: inherit; font-family: inherit; text-decoration: none; vertical-align: baseline; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
sup, sub { line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/* input, textarea { -webkit-appearance: none; } */
*,*:before,*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

i, em { font-style: italic; }
b, strong { font-weight: bold; }
/* q:lang(en) { quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; } */
h1, h2, h3, h4, h5, h6, p { margin-bottom: 15px; }
ul { list-style: outside disc; padding-left: 24px; }
ol { list-style: outside decimal; padding-left: 24px; }
a, label, input[type=button], input[type=submit], button { cursor: pointer; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
pre,code { background: #eee; border: 1px solid #ccc; font-family: Consolas, 'Lucida Console', 'Courier New', serif; padding: 2%; }
input, select, textarea { border: 1px solid #ccc; font-family: inherit; font-size: inherit; padding: 3px 6px; }
input, select { vertical-align: middle; }
textarea { overflow: auto; } /* prevents scrollbar from showing up when unneeded in IE */

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.ie7 .clearfix { zoom: 1; }

.ir { overflow: hidden; text-indent: 200%; white-space: nowrap; }

.touch p a { margin: 0 -.5em; padding: 0 .5em; }



/*
 * The Space Elevator website styles
 */

@font-face {
  font-family: 'meteoric';
  src: url('../fonts/meteoric-light.woff2') format('woff2'),
       url('../fonts/meteoric-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  background: url('../images/garage.jpg') center center / cover no-repeat;
}

body {
  position: relative;
  margin: 0 auto;
  background: url('../images/space.jpg');
  box-shadow: 0 0 35px 10px black;
  min-height: 100%;
  max-width: 2000px;
  font-family: 'meteoric', sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.25em; }
h4 { font-size: 2em; }
h5 { font-size: 1.75em; }
h6 { font-size: 1.5em; }

a {
  color: white;
  font-weight: bold;
  font-family: 'meteoric';
  /* text-decoration: none; */
  /* border-bottom: 1px solid #000; */
  transition: .5s;
}

a:hover {
  color: #777;
  border-color: #777;
}

button,
a.button {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 1rem;
  background: transparent;
}

button:hover,
a.button:hover {
  background: white;
  color: black;
  border-color: black;
}



/* Header - Logo and Navigation */

header#site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1100px;
  margin: auto;
  padding: .75rem;
}

div.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 3;
}

div.logo img {
  width: 100%;
  width: 60px;
  height: 60px;
  max-width: 60px;
  filter: drop-shadow(-1px 1px 2px #000);
}

div.logo a {
  display: block;
  border: 0;
}
div.logo a:hover {
  border: 0;
}

#nav {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  padding: 1em;
  text-align: right;
  max-width: 1157px;
  -webkit-backface-visibility: hidden;
}

#nav a {
  margin: 0 1em;
}

#nav #check {
  display: none;
}

#nav label.nav {
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav #check ~ span#x {
  position: relative;
  left: 1em;
  opacity: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav nav {
  background: black;
  height: 0px;
  padding: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: .5s;
}

#nav nav a {
  display: block;
  font-size: 1.2em;
  transform-origin: center right;
  transform: scale(0);
  color: black;
  border: none;
}

#nav #check:checked ~ label.nav {
  transform: rotate(0deg);
  opacity: 0;
}

#nav #check:checked ~ nav {
  background: white;
  box-shadow: 0 0 4px 2px black;
  height: 230px;
  transform: scale(1);
  border-radius: 1em;
  padding: 1em;
}

#nav #check:checked ~ span#x {
  opacity: 1;
}

#nav #check:checked ~ nav a {
  transform: scale(1);
  margin: .5em
}

/* @media all and (min-width: 1080px) { */
/*   #nav span#x, */
/*   #nav label.nav, */
/*   #nav #check { */
/*     display: none; */
/*   } */
/*   #nav nav { */
/*     height: 60px !important; */
/*     box-shadow: none !important; */
/*     transform: scale(1); */
/*     background: transparent !important; */
/*   } */
/*   #nav nav a { */
/*     display: inline-block; */
/*     color: white; */
/*     transform: scale(1); */
/*     border-bottom: 1px solid #000; */
/*   } */
/*   #nav nav a:hover { */
/*     color: #777; */
/*     border-bottom: 1px solid #777; */
/*   } */
/* } */



/* Headline */

section#banner {
  position: relative;
  background: transparent;
  min-height: 500px;
  height: 100vh;
  text-align: right;
  z-index: 1;
  transition: background 2s ease-in 2s;
}

section#banner.bghidden::after { opacity: 0; top: 100px; }
section#banner::after,
section#banner.rise::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1;
  background: url('../images/rise.png') 25% top / cover no-repeat;
  transition: 3s;
}

/* I learned a new trick, cool */
@media all and (min-aspect-ratio: 414/295) {
  section#banner::after,
  section#banner.rise::after {
    background: url('../images/rise.png') left top / contain no-repeat;
  }
}

h1#headline {
  position: relative;
  top: 0;
  color: white;
  text-shadow: 3px 3px 4px black;
  padding: 1rem;
  width: 320px;
  margin: auto;
  opacity: 1;
  transition: all 1.5s ease-in .5s;
}
h1#headline.titlehidden { opacity: 0; top: 100px; }

h1#headline span.the,
h1#headline span.space,
h1#headline span.elevator,
h1#headline span.company { position: relative; }

h1#headline span.the { font-size: .75em; top: 1.2rem; }
h1#headline span.space { font-size: 1.45em; }
h1#headline span.elevator { font-size: .75em; top: -1rem; }
h1#headline span.company { display: block; font-size: .4em; top: -1rem; right: 3.25em; }

button#scroll {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  font-weight: bold;
  font-size: 1.1em;
  color: white;
  background: rgba(0,0,0,0.7);
  text-shadow: 1px 1px 2px grey;
  transform: translate(-50%);
  border: 3px solid white;
  transition: .75s;
}

button#scroll:hover,
button#scroll:focus {
  border: 3px solid white;
  background: rgba(255,255,255,0.25);
  color: white;
}
button#scroll:active { color: white; }

@media all and (min-width: 700px) and (min-height: 900px) {

  button#scroll {
    display: inline-block;
    bottom: 12rem;
    font-size: 1.7em;
    text-shadow: 1px 1px 2px grey;
    left: auto;
    right: 10%;
    transform: translate(0);
  }

}



/*
 * Introductory Slide Show
 */

section#banner.moon-landing::after { background: url('/images/moon-landing.png') 70% top / cover no-repeat; }
h1#headline.moon-landing {
  top: 10%;
}


section#banner.asteroid::after { background: url('/images/asteroid.png') center top / cover no-repeat; }
h1#headline.asteroid {
  top: 15%;
}
h1#headline.asteroid span.smaller {
  font-size: .65em;
}
h1#headline.asteroid span.smallest {
  font-size: .5em;
}
@media all and (min-width: 480px) { h1#headline.asteroid { width: 480px; }}
@media all and (min-width: 700px) { h1#headline.asteroid { width: 580px; }}


section#banner.launches::after { background: url('/images/rocket-launches.png') center top / cover no-repeat; }
h1#headline.launches {
  top: 10%;
}
h1#headline span.glorious { font-size: 1.3em; }


section#banner.ocean::after { background: url('/images/ocean-elevator.png') center top / cover no-repeat; }
h1#headline.ocean {
  top: 20%;
  text-align: left;
}
h1#headline.ocean span.chance { font-size: 1.4em; }
@media all and (min-width: 480px) { h1#headline.ocean { width: 480px; }}
@media all and (min-width: 700px) { h1#headline.ocean { width: 580px; }}


section#banner.climb::after { background: url('/images/climb-to-space.png') 62.5% center / cover no-repeat; }
h1#headline.climb {
  top: 20%;
}
h1#headline.climb span.climb { font-size: 1.25em; }
@media all and (min-width: 480px) { h1#headline.climb { width: 480px; right: auto; left: 5%; text-align: left; }}


section#banner.cost::after { background: url('/images/elevator-cost.png') center center / cover no-repeat; }
h1#headline.cost {
  top: 12.5%;
}
h1#headline.cost span.smaller {
  font-size: .7em;
}
h1#headline.cost span.cost { font-size: 1.5em; }
@media all and (min-width: 480px) { h1#headline.cost { width: 480px; right: auto; left: 10%; text-align: left; }}
@media all and (min-width: 700px) { h1#headline.cost { width: 525px; top: 15%; left: 50%; transform: translate(-50%); text-align: center; }}


section#banner.package::after { background: url('/images/fedex.png') center bottom / cover no-repeat; }
h1#headline.package {
  top: 12.5%;
  font-size: 2.2em;
  text-align: left;
}
h1#headline.package span.smaller {
  font-size: .7em;
}
h1#headline.package span.package { font-size: 1.25em; }
@media all and (min-width: 480px) { h1#headline.package { font-size: 2.5em; width: 480px; right: auto; left: 5%; text-align: left; }}
@media all and (min-width: 700px) { h1#headline.package { font-size: 3em; }}


section#banner.operational::after { background: url('/images/operational.png') 60% center / cover no-repeat; }
h1#headline.operational {
  top: 15%;
  font-size: 2.25em;
  text-align: left;
}
h1#headline.operational span.first {
  font-size: 1.4em;
}
h1#headline.operational span.year {
  font-size: 1.7em;
}
h1#headline.operational span.operational { font-size: 1.25em; }
@media all and (min-width: 480px) { h1#headline.operational { font-size: 2.5em; width: 480px; right: auto; left: 5%; }}
@media all and (min-width: 700px) { h1#headline.operational { font-size: 3em; }}


section#banner.stations::after { background: url('/images/space-stations.png') center center / cover no-repeat; }
h1#headline.stations {
  top: 25%;
  font-size: 4em;
  text-align: left;
}


section#banner.solar::after { background: url('/images/space-based-solar.png') 60% center / cover no-repeat; }
h1#headline.solar {
  top: 15%;
  text-align: left;
}
@media all and (min-width: 480px) { h1#headline.solar { font-size: 2.3em; width: 480px; right: auto; left: 5%; }}
@media all and (min-width: 700px) { h1#headline.solar { font-size: 3.3em; }}


section#banner.dreams::after { background: url('/images/mars-elevator.png') 55% center / cover no-repeat; }
h1#headline.dreams {
  top: 15%;
  text-align: left;
  font-size: 3.5em;
}
@media all and (min-width: 480px) { h1#headline.dreams { width: 480px; right: auto; left: 5%; }}
@media all and (min-width: 700px) { h1#headline.dreams { width: 550px; }}




/*
 * End Of Introductory Slide Show
 */



@media all and (min-width: 10px) {
  h1#headline {
    position: absolute;
    top: 30%;
    text-align: right;
  }
}

@media all and (min-width: 340px) {
  h1#headline {
    right: 5%;
  }
}

@media all and (min-width: 900px) {
  h1#headline {
    font-size: 3.5em;
  }
}

@media all and (min-width: 1300px) {
  h1#headline {
    width: 520px;
    font-size: 5em;
  }
}



/* All The Tech Is Ready */

section#ready {
  color: white;
  margin: 9rem auto 1rem;
  padding: 1rem;
  text-align: center;
}

#ready div.image {
  margin: auto;
  max-width: 500px;
}

#ready div.image img {
  display: block;
  width: 100%;
}

#ready div.copy {
  margin: 2rem auto;
  max-width: 500px;
}

#ready div.spacer { height: 50px; }

@media all and (min-width: 700px) {
  #ready {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ready div.image {
    margin: 2rem;
  }
  #ready div.copy {
    margin: 2rem;
    text-align: left;
  }
}

@media all and (min-width: 1300px) {
  #ready { font-size: 1.5em; }
}




/* Imagine The Possibilities */

section#possibilities {
  max-width: 800px;
  margin: 9rem auto 1rem;
  padding: 1rem;
  color: white;
}

section#possibilities p.prompt {
  margin-bottom: 3rem;
  font-size: 1.5em;
  text-align: center;
}
section#possibilities h2 {
  text-align: center;
}

#possibilities div.tree {
  display: flex;
  justify-content: center;
  align-items: center;
}
#possibilities div.stem {
  background: white;
  border-radius: 50%;
  width: 3px;
  height: 700px;
}

#possibilities div.left-items.hidden { display: none; }

@media all and (min-width: 800px) {
  #possibilities div.stem { height: 400px }
  #possibilities div.left-items.hidden { display: block; margin-top: -5rem; }
  #possibilities div.right-items div.flip { display: none; }
}

#possibilities div.right-item,
#possibilities div.left-item {
  display: flex;
  align-items: center;
}
#possibilities div.left-item {
  justify-content: flex-end;
  text-align: right;
}
#possibilities div.right-item {
  justify-content: flex-start;
}
#possibilities div.right-item,
#possibilities div.left-item {
  margin: 3rem 0;
}

#possibilities div.right-item div.branch,
#possibilities div.left-item div.branch {
  background: white;
  width: 30px;
  height: 3px;
  border-radius: 50%;
}

#possibilities div.right-item div.copy,
#possibilities div.left-item div.copy {
  border: 3px solid white;
  padding: 1rem;
  border-radius: 1rem;
}

#possibilities div.right-item div.copy p,
#possibilities div.left-item div.copy p {
  margin-bottom: 0;
}

#possibilities a.application-button {
  margin: auto;
}




/* Footer */

section#future {
  position: relative;
  background: url('../images/earth-rise.png') center center / cover no-repeat;
  height: 85vh;
  margin: 3rem auto 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

#future p.prompt {
  position: absolute;
  top: 5rem;
  left: 1rem;
  right: 1rem;
  font-size: 1.25em;
  font-weight: bold;
}
#future div.make-contact {
  position: absolute;
  max-width: 865px;
  margin: auto;
  text-align: center;
  bottom: 23vh;
  left: 2rem;
  right: 2rem;
}

#future p#copyright {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  right: 0;
  left: 0;
  text-align: center;
  font-size: .75em;
  font-weight: bold;
  color: black;
}



/* Page Layout */

body.page {
  padding: .1rem;
  min-height: 100%;
}

#footer p { margin-bottom: 2rem; padding: 0 1rem; color: white; text-align: center; }

section.page {
  width: 857px;
  max-width: calc(100% - 2em);
  margin: 8em auto;
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 3px #a7a7a7;
  color: #000;
  border-radius: 1em;
}

section.page p {
  color: #222;
}

section.page h1 {
  text-align: left;
  font-size: 2.25em;
  margin-bottom: 2rem;
}

section.page h2 {
  font-size: 1.75em;
}

@media all and (min-width: 480px) {
  section.page h1 {
    text-align: center;
  }
}

section.page h1,
section.page h2,
section.page h3,
section.page h4,
section.page h5,
section.page h6 {
  box-sizing: border-box;
}

section.page p {
  box-sizing: border-box;
  margin: 1em 0;
}

section.page a {
  color: #000;
  font-weight: normal;
  text-decoration: underline;
  /* border-bottom: 1px solid #000; */
}

section.page a:hover {
  text-decoration: none;
  /* border-bottom: 1px solid #fff; */
}

section.page p.center {
  margin: 1rem auto;
  max-width: 711px;
  width: 100%;
}

section.page img.center {
  display: block;
  margin: 1rem auto;
  max-width: 711px;
  width: 100%;
  border-radius: 1em;
}


section.page img.aside {
  display: inline-block;
  float: right;
  max-width: 320px;
  border-radius: 1rem;
  margin: 1rem 0 1rem 1rem;
}

@media all and (min-width: 700px) {
  section.page div.flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  section.page div.flex div.contact {
    box-sizing: border-box;
    max-width: 500px;
    padding-right: 2em;
  }
}

div.video-container {
  width: 100%;
}

div.video-container video {
  width: 100%;
  border-radius: 1rem;
}

div.video-container p.video-caption {
  text-align: right;
}



/*
 * Carbon Nanotubes
 */

ul.nanolist {
  list-style: none;
  margin: auto;
}

ul.nanolist li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
}

ul.nanolist li strong {
  display: inline-block;
  max-width: 40px;
  margin: .35rem 0;
  flex-grow: 0;
}

ul.nanolist li span {
  display: inline-block;
  max-width: 700px;
  margin: .35rem 0;
  padding-left: 1rem;
}

table.nanorequirements {
  width: 90%;
  margin: 1rem auto;
  border-spacing: 0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
}

table.nanorequirements tr.header td,
table.nanorequirements tr.header {
  background: #e0e0e0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  font-weight: bold;
}

table.nanorequirements tr td {
  padding: .75rem;
  background: #f7f7f7;
}

table.nanorequirements tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table.nanorequirements tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

@media all and (max-width: 440px) {
  table.nanorequirements {
    width: 100%;
    font-size: .75em;
  }
}

@media all and (max-width: 350px) {
  table.nanorequirements {
    width: 100%;
    font-size: .65em;
  }
}




/*
 * Contact
 */

#contact {
  padding: 9rem 1rem;
  max-width: 757px;
  margin: auto;
  font-family: 'meteoric';
  color: white;
}

#contact div.copy {
  position: relative;
  text-align: center;
  margin-bottom: 4rem;
}

@media all and (min-width: 480px) {
  #contact div.copy {
    padding: 1rem;
    left: -1rem;
  }
}

@media all and (min-width: 765px) {
  #contact div.copy {
    padding: 0rem;
  }
}

#contact p.med { font-size: 1.25em; }

#contact form {
  max-width: 357px;
  margin: auto;
}

#contact form fieldset {
  padding: 0;
  border: none;
}

#contact h2 {
  font-size: 2.25em;
}
#contact h3 {
  font-size: 1.45em;
  text-align: left;
  margin-top: 1.5em;
}

#contact form#contact-form div.list {
  margin: 1em 0;
}

#contact form#contact-form input#name,
#contact form#contact-form input#mail {
  box-sizing: border-box;
  display: block;
  margin: 1em 0;
  background: white;
  height: 2em;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 1em;
  padding: .25em .75em;
  transition: .25s;
}

#contact form#contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 1em 0;
  border: none;
  border-radius: 1em;
  padding: .75em;
  transition: .25s;
}

#contact form#contact-form div.check {
  margin: .5em 0;
  max-width: 320px;
}

#contact form#contact-form div.check input {
  display: inline;
  border-radius: 5px;
  transition: .25s;
}

#contact form#contact-form div.check label {
  /* margin-left: 1em; */
}

#contact form#contact-form input:focus,
#contact form#contact-form textarea:focus {
  outline: 3px solid #7091b9;
}

#contact form#contact-form fieldset[disabled="disabled"] {
  cursor: not-allowed;
}
#contact form#contact-form fieldset[disabled="disabled"] input#name,
#contact form#contact-form fieldset[disabled="disabled"] input#mail,
#contact form#contact-form fieldset[disabled="disabled"] textarea {
  cursor: not-allowed;
  border: 3px solid grey;
  background: #f0f0f0;
}
#contact form#contact-form fieldset[disabled="disabled"] div.check input {
  cursor: not-allowed;
}
#contact form#contact-form fieldset[disabled="disabled"] label {
  cursor: not-allowed;
  color: grey;
}
#contact form#contact-form fieldset[disabled="disabled"] input#submit {
  cursor: not-allowed;
  background: grey;
  border-color: grey;
  color: black;
}

#contact p#form-status {
  display: inline-block;
  background: #b8bbf2;
  border-radius: 1rem;
  color: black;
  transition: .5s;
}

#contact p#form-status.fail {
  padding: .75rem;
  font-size: 1rem;
}

#contact p#form-status.success {
  padding: .75rem;
  font-size: 1rem;
}

#contact form#contact-form input#submit {
  box-sizing: border-box;
  display: block;
  margin: 1em 0;
  background: white;
  height: 2em;
  border: none;
  font-family: 'meteoric';
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;
  padding: .25em .7em .22em;
  border: 3px solid white;
  transition: .25s;
}

#contact form#contact-form input#submit:hover {
  cursor: pointer;
  color: white;
  background: black;
}

@media all and (min-width: 480px) {

  #contact h2,
  #contact h3,
  #contact form#contact-form input#submit {
    position: relative;
    left: -25px;
  }

}

@media all and (min-width: 1600px) {
  #contact {
    margin: 8em auto;
    transform: scale(1.25);
  }
}

@media all and (min-width: 2200px) {
  #contact {
    margin: 18em auto;
    transform: scale(1.5);
  }
}

