
/*
 * Styles for Orion Space Elevator
 */

@font-face {
  font-family: 'meteoric';
  src: url('../fonts/meteoric-light.woff2') format('woff2'),
       url('../fonts/meteoric-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: url('../images/space.jpg');
}

body {
  font-family: 'meteoric', 'open sans', sans-serif;
  font-weight: 200;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  color: white;
  opacity: 1;
  transition: .5s;
}

div#bg {
  position: absolute;
  top: 3.5em;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 190%; /* Ugh, that's hacky */
  background: no-repeat left top url('../images/banner.png');
  background-size: 100% auto;
  opacity: 1;
  transition: 3s;
}

div#bg.hidden {
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'meteoric';
  margin: 0;
  transition: .5s;
}

p {
  margin: 0;
  transition: .5s;
  line-height: 1.1;
}

a {
  color: white;
  font-weight: bold;
  font-family: 'meteoric';
  text-decoration: none;
  border-bottom: 1px solid #000;
  transition: .5s;
}

a:hover {
  color: #777;
  border-color: #777;
}

#nav {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 3;
  padding: 1em;
  text-align: right;
  max-width: 1157px;
  -webkit-backface-visibility: hidden;
}

#nav a {
  margin: 0 1em;
}

#nav #check {
  display: none;
}

#nav label.nav {
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav #check ~ span#x {
  position: relative;
  left: 1em;
  opacity: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav nav {
  background: black;
  height: 0px;
  padding: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: .5s;
}

#nav nav a {
  display: block;
  font-size: 1.2em;
  transform-origin: center right;
  transform: scale(0);
  color: black;
  border: none;
}

#nav #check:checked ~ label.nav {
  transform: rotate(0deg);
  opacity: 0;
}

#nav #check:checked ~ nav {
  background: white;
  height: 205px;
  transform: scale(1);
  border-radius: 1em;
  padding: 1em;
}

#nav #check:checked ~ span#x {
  opacity: 1;
}

#nav #check:checked ~ nav a {
  transform: scale(1);
  margin: .5em
}

@media all and (min-width: 1080px) {
  #nav span#x,
  #nav label.nav,
  #nav #check {
    display: none;
  }
  #nav nav {
    height: 60px;
    transform: scale(1);
    background: transparent;
  }
  #nav nav a {
    display: inline-block;
    color: white;
    transform: scale(1);
    border-bottom: 1px solid #000;
  }
  #nav nav a:hover {
    color: #777;
    border-bottom: 1px solid #777;
  }
}



/* Banner */

#banner {
  position: relative;
  height: 100vh;
  min-height: 640px;
  background-size: cover;
  color: white;
}

#banner h1.headline {
  position: absolute;
  top: 310px;
  right: 20px;
  text-align: right;
}

#banner span.orion {
  display: block;
  font-size: 2em;
}

#banner span.space-elevator {
  display: block;
  margin-right: 15px;
  font-size: 1.1em;
}

#banner p.rise {
  box-sizing: border-box;
  position: absolute;
  bottom: 20vh;
  width: 100%;
  margin: auto;
  text-align: center;
  font-family: 'meteoric';
  font-size: 1.25em;
  font-weight: bold;
}

@media all and (min-width: 640px) {
  #banner h1.headline {top: 320px; right: 50px;}
  #banner span.orion {font-size: 2.5em;}
  #banner span.space-elevator {font-size: 1.3em;}
  #banner p.rise {text-align: right; padding-right: 3em; font-size: 1.75em;}
}

@media all and (min-width: 800px) {
  #banner h1.headline {top: 53vh;}
  #banner span.orion {font-size: 2.5em;}
  #banner span.space-elevator {font-size: 1.3em;}
  #banner p.rise {bottom: 15vh; padding-right: 7em; font-size: 1.75em;}
}

@media all and (min-width: 940px) {
  #banner h1.headline {top: 180px; left: 15vw; right: inherit; text-align: left;}
  #banner span.orion {font-size: 2.5em;}
  #banner span.space-elevator {font-size: 1.3em; margin-left: 3.5em;}
  #banner p.rise {bottom: 15vh; padding-right: 7em; font-size: 1.75em;}
}

@media all and (min-width: 1600px) {
  #banner h1.headline {top: 200px; left: 175px;}
  #banner span.orion {font-size: 3.5em;}
  #banner span.space-elevator {font-size: 1.7em;}
  #banner p.rise {font-size: 2.25em;}
}

@media all and (min-width: 2200px) {
  #banner h1.headline {top: 250px; left: 275px;}
  #banner span.orion {font-size: 5em;}
  #banner span.space-elevator {font-size: 2.7em;}
  #banner p.rise {font-size: 3em;}
}

@media all and (min-width: 2900px) {
  #banner h1.headline {top: 300px; left: 375px;}
  #banner span.orion {font-size: 7em;}
  #banner span.space-elevator {font-size: 3.5em;}
  #banner p.rise {font-size: 3.75em;}
}



/*
 * Video
 */

#video {
  position: relative;
  padding-bottom: 5em;
}

#video div.video-container {
  width: 100%;
  max-width: 960px;
}

#video video {
  max-width: 100%;
  transition: .5s;
}

@media all and (min-width: 640px) {
  #video {
    display: flex;
    justify-content: right;
  }
  #video div.video-container {
    margin: 10vh;
  }
  #video video {
    border-radius: 1em;
  }
}

@media all and (min-width: 800px) {
  #video {margin-top: 10em;}
}
@media all and (min-width: 960px) {
  #video {margin-top: 18em;}
}
@media all and (min-width: 1100px) {
  #video {margin-top: 28em;}
}

#video div.video-container p.video-caption {
  font-size: .8em;
  text-align: right;
  padding: 0 1em;
}

@media all and (min-width: 450px) {
  #video div.video-container p.video-caption {
    font-size: 1em;
  }
}



/*
 * Team
 */

#team {
  padding: 5em 1em 7em;
  max-width: 1200px;
  margin: auto;
}

#team img {
  display: block;
  margin: 1em;
  border-radius: 1em;
  width: 70px;
}

#team div.member {
  display: flex;
  align-items: center;
  max-width: 960px;
}

#team div.member div.copy h3 {font-size: .9em;}
#team div.member div.copy p {font-size: .8em; padding: .5em 0;}
#team div.member div.copy a {font-size: .7em;}

#team img.brad {margin-left: 1em;}
#team img.lady {margin-left: 2em;}
#team img.man {margin-left: 3em;}

@media all and (min-width: 480px) {
  #team img {width:80px;}
  #team div.member div.copy h3 {font-size: 1.1em;}
  #team div.member div.copy p {font-size: 1em;}
  #team div.member div.copy a {font-size: .9em;}
}

@media all and (min-width: 640px) {
  #team img {width:110px;}
  #team div.member div.copy h3 {font-size: 1.5em;}
  #team div.member div.copy p {font-size: 1.2em;}
  #team div.member div.copy a {font-size: 1em;}
}

@media all and (min-width: 960px) {
  #team img {width:150px;}
  #team div.member div.copy h3 {font-size: 1.75em;}
  #team div.member div.copy p {font-size: 1.5em;}
  #team div.member div.copy a {font-size: 1.25em;}

  #team img.brad {margin-left: 2em;}
  #team img.lady {margin-left: 3em;}
  #team img.man {margin-left: 4em;}
}

@media all and (min-width: 1600px) {
  #team img {width:200px;}
  #team div.member div.copy h3 {font-size: 2.5em;}
  #team div.member div.copy p {font-size: 1.75em;}
  #team div.member div.copy a {font-size: 1.5em;}

  #team img.brad {margin-left: 2em;}
  #team img.lady {margin-left: 4em;}
  #team img.man {margin-left: 6em;}
  #team div.member {max-width: 1200px;}
}

@media all and (min-width: 2400px) {
  #team img {width:250px;}
  #team div.member div.copy h3 {font-size: 3.5em;}
  #team div.member div.copy p {font-size: 2.75em;}
  #team div.member div.copy a {font-size: 2em;}

  #team div.member {max-width: 1600px;}
}




/*
 * Resources
 */

#resources {
  max-width: 960px;
  margin: 3em auto 7em;
  text-align: center;
}

#resources img.report-image {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: auto;
}

#resources p.report-prompt {padding: .25em 0 1em 0;}
#resources p.report-caption-link {padding: 1em 0;}

@media all and (min-width: 480px) {
  #resources img.report-image {
    border-radius: 1em;
  }
  #resources h2 {font-size: 2.5em;}
  #resources p.report-prompt {font-size: 1em;}
  #resources p.report-caption-link {font-size: 1em;}
}

@media all and (min-width: 960px) {
  #resources h2 {font-size: 3em;}
  #resources p.report-prompt {font-size: 1.2em;}
  #resources p.report-caption-link {font-size: 1.2em;}
}

@media all and (min-width: 1200px) {
  #resources h2 {font-size: 3.5em;}
  #resources p.report-prompt {font-size: 1.5em;}
  #resources p.report-caption-link {font-size: 1.5em;}
}

@media all and (min-width: 1600px) {
  #resources img.report-image {max-width: 549px;}
  #resources h2 {font-size: 4em;}
  #resources p.report-prompt {font-size: 2em;}
  #resources p.report-caption-link {font-size: 2em;}
}



/*
 * Contact
 */

#contact {
  padding: 1em;
  max-width: 320px;
  margin: auto;
  font-family: 'meteoric';
}

#contact form fieldset {
  padding: 0;
  border: none;
}

#contact h2 {
  font-size: 2.5em;
}
#contact h3 {
  text-align: left;
}

#contact form#contact-form div.list {
  margin: 1em 0;
}

#contact form#contact-form input#name,
#contact form#contact-form input#mail {
  box-sizing: border-box;
  display: block;
  margin: 1em 0;
  background: white;
  height: 2em;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 1em;
  padding: .25em .75em;
  transition: .25s;
}

#contact form#contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  margin: 1em 0;
  border: none;
  border-radius: 1em;
  padding: .75em;
  transition: .25s;
}

#contact form#contact-form div.check {
  margin: .5em 0;
  max-width: 320px;
}

#contact form#contact-form div.check input {
  display: inline;
  border-radius: 5px;
  transition: .25s;
}

#contact form#contact-form div.check label {
  /* margin-left: 1em; */
}

#contact form#contact-form input:focus,
#contact form#contact-form textarea:focus {
  outline: 3px solid #7091b9;
}

#contact form#contact-form fieldset[disabled="disabled"] {
  cursor: not-allowed;
}
#contact form#contact-form fieldset[disabled="disabled"] input#name,
#contact form#contact-form fieldset[disabled="disabled"] input#mail,
#contact form#contact-form fieldset[disabled="disabled"] textarea {
  cursor: not-allowed;
  border: 3px solid grey;
  background: #f0f0f0;
}
#contact form#contact-form fieldset[disabled="disabled"] div.check input {
  cursor: not-allowed;
}
#contact form#contact-form fieldset[disabled="disabled"] label {
  cursor: not-allowed;
  color: grey;
}
#contact form#contact-form fieldset[disabled="disabled"] input#submit {
  cursor: not-allowed;
  background: grey;
  border-color: grey;
  color: black;
}

#contact form#contact-form input#submit {
  box-sizing: border-box;
  display: block;
  margin: 1em 0;
  background: white;
  height: 2em;
  border: none;
  font-family: 'meteoric';
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;
  padding: .25em .7em .22em;
  border: 3px solid white;
  transition: .25s;
}

#contact form#contact-form input#submit:hover {
  cursor: pointer;
  color: white;
  background: black;
}

@media all and (min-width: 390px) {

  #contact h2,
  #contact h3,
  #contact form#contact-form input#submit {
    position: relative;
    left: -25px;
  }

}

@media all and (min-width: 1600px) {
  #contact {
    margin: 8em auto;
    transform: scale(1.25);
  }
}

@media all and (min-width: 2200px) {
  #contact {
    margin: 18em auto;
    transform: scale(1.5);
  }
}



/*
 * Footer
 */

#footer {
  min-height: 100px;
  margin-top: 5em;
  height: inherit;
  color: white;
  text-align: center;
}


@media all and (min-width: 1600px) {
  #footer {font-size:1.5em;}
}

@media all and (min-width: 2200px) {
  #footer {font-size:2em;}
}




/* Page Layout */

#page {
  box-sizing: border-box;
  width: 857px;
  max-width: calc(100% - 2em);
  margin: 8em auto;
  padding: 1em;
  background: #e7e7e7;
  color: #000;
  border-radius: 1em;
}

#page h1 {
  text-align: center;
}

#page h1,
#page h2,
#page h3,
#page h4,
#page h5,
#page h6 {
  box-sizing: border-box;
  margin: 8px 0;
}

#page p {
  box-sizing: border-box;
  margin: 1em 0;
}

