
/* some normalizing first...
 * CSS Reset + Normalize
 * Author: Kim Maida
 * Author URI: <http://kim-maida.com>
 * Source: <https://github.com/kmaida
 * License: GNU Public License
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, input, select, button, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; border-radius: 0; font-weight: inherit; font-style: inherit; font-family: inherit; line-height: 1; text-decoration: none; vertical-align: baseline; }
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
sup, sub { line-height: 1; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
input, textarea { -webkit-appearance: none; }
*,*:before,*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

i, em { font-style: italic; }
b, strong { font-weight: bold; }
q:lang(en) { quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }
h1, h2, h3, h4, h5, h6, p { margin-bottom: 15px; }
ul { list-style: outside disc; padding-left: 24px; }
ol { list-style: outside decimal; padding-left: 24px; }
a, label, input[type=button], input[type=submit], button { cursor: pointer; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
pre,code { background: #eee; border: 1px solid #ccc; font-family: Consolas, 'Lucida Console', 'Courier New', serif; padding: 2%; }
input, select, textarea { border: 1px solid #ccc; font-family: inherit; font-size: inherit; padding: 3px 6px; }
input, select { vertical-align: middle; }
textarea { overflow: auto; } /* prevents scrollbar from showing up when unneeded in IE */

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.ie7 .clearfix { zoom: 1; }

.ir { overflow: hidden; text-indent: 200%; white-space: nowrap; }

.touch p a { margin: 0 -.5em; padding: 0 .5em; }



/*
 * The Space Elevator website styles
 */

@font-face {
  font-family: 'meteoric';
  src: url('../fonts/meteoric-light.woff2') format('woff2'),
       url('../fonts/meteoric-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: 320px;
  min-height: 100%;
  background: url('../images/garage.jpg') center center / cover no-repeat;
}

body {
  position: relative;
  margin: 0 auto;
  background: url('../images/space.jpg');
  box-shadow: 0 0 35px 10px black;
  min-height: 100%;
  max-width: 2000px;
  font-family: 'meteoric', sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2.25em; }
h4 { font-size: 2em; }
h5 { font-size: 1.75em; }
h6 { font-size: 1.5em; }

a {
  color: white;
  font-weight: bold;
  font-family: 'meteoric';
  text-decoration: none;
  border-bottom: 1px solid #000;
  transition: .5s;
}

a:hover {
  color: #777;
  border-color: #777;
}

div#rise.hidden { opacity: 0; top: 100px; }
div#rise {
  background: url('../images/rise.png') 25% top / cover no-repeat;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 3s;
}



/* Header - Logo and Navigation */

header#site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1100px;
  margin: auto;
  padding: .75rem;
}

div.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 3;
}

div.logo img {
  width: 100%;
  width: 60px;
  height: 60px;
  max-width: 60px;
  filter: drop-shadow(-1px 1px 2px #000);
}

div.logo a {
  display: block;
  border: 0;
}
div.logo a:hover {
  border: 0;
}

#nav {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  padding: 1em;
  text-align: right;
  max-width: 1157px;
  -webkit-backface-visibility: hidden;
}

#nav a {
  margin: 0 1em;
}

#nav #check {
  display: none;
}

#nav label.nav {
  display: inline-block;
  opacity: 1;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav #check ~ span#x {
  position: relative;
  left: 1em;
  opacity: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transform: rotate(90deg);
  transition: .5s;
}

#nav nav {
  background: black;
  height: 0px;
  padding: 0;
  transform-origin: top right;
  transform: scale(0);
  transition: .5s;
}

#nav nav a {
  display: block;
  font-size: 1.2em;
  transform-origin: center right;
  transform: scale(0);
  color: black;
  border: none;
}

#nav #check:checked ~ label.nav {
  transform: rotate(0deg);
  opacity: 0;
}

#nav #check:checked ~ nav {
  background: white;
  box-shadow: 0 0 4px 2px black;
  height: 185px;
  transform: scale(1);
  border-radius: 1em;
  padding: 1em;
}

#nav #check:checked ~ span#x {
  opacity: 1;
}

#nav #check:checked ~ nav a {
  transform: scale(1);
  margin: .5em
}

/* @media all and (min-width: 1080px) { */
/*   #nav span#x, */
/*   #nav label.nav, */
/*   #nav #check { */
/*     display: none; */
/*   } */
/*   #nav nav { */
/*     height: 60px !important; */
/*     box-shadow: none !important; */
/*     transform: scale(1); */
/*     background: transparent !important; */
/*   } */
/*   #nav nav a { */
/*     display: inline-block; */
/*     color: white; */
/*     transform: scale(1); */
/*     border-bottom: 1px solid #000; */
/*   } */
/*   #nav nav a:hover { */
/*     color: #777; */
/*     border-bottom: 1px solid #777; */
/*   } */
/* } */



/* Headline */

section#banner {
  position: relative;
  background: url('../images/rise.png') 25% top / cover no-repeat;
  min-height: 500px;
  height: 100vh;
  text-align: right;
  z-index: 1;
}

/* I learned a new trick, cool */
@media all and (min-aspect-ratio: 414/295) {
  section#banner {
    background: url('../images/rise.png') left top / contain no-repeat;
  }
}

h1.headline {
  color: white;
  text-shadow: 3px 3px 4px black;
  padding: 1rem;
  width: 320px;
  margin: auto;
}

h1.headline span.the,
h1.headline span.space,
h1.headline span.elevator,
h1.headline span.company { position: relative; }

h1.headline span.the { font-size: .75em; top: 1.2rem; }
h1.headline span.space { font-size: 1.45em; }
h1.headline span.elevator { font-size: .75em; top: -1rem; }
h1.headline span.company { display: block; font-size: .4em; top: -1rem; right: 3.25em; }

@media all and (min-width: 10px) {
  h1.headline {
    position: absolute;
    top: 30%;
    text-align: right;
  }
}

@media all and (min-width: 340px) {
  h1.headline {
    right: 5%;
  }
}

@media all and (min-width: 900px) {
  h1.headline {
    font-size: 3.5em;
  }
}

@media all and (min-width: 1300px) {
  h1.headline {
    width: 520px;
    font-size: 5em;
  }
}



/* All The Tech Is Ready */

section#ready {
  color: white;
  margin: 9rem auto 1rem;
  padding: 1rem;
  text-align: center;
}

#ready div.image {
  margin: auto;
  max-width: 500px;
}

#ready div.image img {
  display: block;
  width: 100%;
}

#ready div.copy {
  margin: 2rem auto;
  max-width: 500px;
}

#ready div.spacer { height: 50px; }

@media all and (min-width: 700px) {
  #ready {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ready div.image {
    margin: 2rem;
  }
  #ready div.copy {
    margin: 2rem;
    text-align: left;
  }
}




/* Footer */

section#future {
  position: relative;
  background: url('../images/earth-rise.png') center center / cover no-repeat;
  height: 85vh;
  margin: 3rem auto 0;
  padding: 1rem;
  text-align: center;
  color: white;
}

#future p.prompt {
  position: absolute;
  top: 5rem;
  left: 1rem;
  right: 1rem;
  font-size: 1.25em;
  font-weight: bold;
}
#future h2.future {
  position: absolute;
  max-width: 865px;
  text-align: right;
  bottom: 27vh;
  left: 2rem;
  right: 2rem;
}

#future p#copyright {
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
  text-align: center;
  font-size: .75em;
  font-weight: bold;
  color: black;
}

